/*** Element Selectors ***/

body {
  font-size: 14px;
}

h1 {
  font-family: sans-serif;
  font-size: 2em;
}

h3 {
  font-size: 1.3em;
}

nav {
  background-color: yellow;
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
}

section {
  margin: 0 auto;
  width: 60%;
}

/*** Class Selectors ***/

.element {
  background-color: green;
  height: 100px;
  margin: 10px 0;
  width: 100%;
}

.example, h3 {
  padding-top: 30px;
  text-align: center;
}

/*** ID Selectors ***/

#final-three {
  background-color: blue;
}
